#feed-list {
  $inverse-color: #888888;
  margin:  5px;
  box-shadow: 0px 0px 20px $inverse-color;

  h4 {
    text-transform: capitalize;
    text-align:     center;
    margin-bottom:  5px;
    padding:        5px;
  }

  ul {
    li {
      cursor:              pointer;
      display:             block;
      min-height:          15px;
      padding:             5px;
      padding-left:        25px;
      background-repeat:   no-repeat;
      background-position: 5px  9px;
      background-size:     15px 15px;
      &:hover {
        background-color:  lightgray;
      }
      &.active {
        font-weight:       bold;
      }
      .counter {
        float: right;
      }
    }
  }
}
