#feed-list {
  $inverse-color: #888888;
  margin:  5px;
  box-shadow: 0px 0px 20px $inverse-color;

  h4 {
    text-transform: capitalize;
    text-align:     center;
    margin-bottom:  5px;
    padding:        5px;
  }

  ul {
    li {
      $padding:            5px;
      $background-size:    15px;
      cursor:              pointer;
      display:             block;
      min-height:          15px;
      padding:             $padding;
      padding-left:        $padding + $background-size + 5px;
      background-repeat:   no-repeat;
      background-position: 5px  9px;
      background-size:     $background-size $background-size;
      .counter {
        float: right;
      }
      &:hover {
        background-color:  lightgray;
      }
      &.active {
        font-weight:       bold;
      }
      &.add-feed {
        @include outer-container(100%);
        padding-left: $padding;
        cursor:       auto;
        input,button {
          height: 30px;
        }
        input {
          @include span-columns(7);
        }
        button {
          @include span-columns(5);
          font-size: 75%;
        }
        &:hover { background-color: transparent; }
      }
    }
  }
}
