#main-content {
  .feed-page {
    @include my-box;
    border-right: none;
    padding: 10px;
    margin-top: 5px;

    > .controls {
      float: right;
    }

    > h1 {
      text-transform: capitalize;
      font-size: 2em;
    }

    > .feed-description {
      font-style: italic;
    }

    > .feed-posts {
      > .post {
        @include my-box;
        margin-top: 20px;
        $padding: 10px;

        > .controls {
          margin:    $padding;
          float:     right;
          min-width: 231px; 

          button {
            font-size: 75%;
            float:     right;
          }

          .mark-as-unread {
            display: none;
          }
        }

        > a h2 {
          color: $base-font-color;
          font-size: 1.7em;
          text-transform: capitalize;
          padding: $padding;
          border-bottom: 1px solid lightgray;
        }

        > .font-description {
          padding: $padding;
          /* potential style for the rss feed description */
        }
      }
      > .read {
        > a h2 {
          color: lightgray;
        }

        > .controls {
          .mark-as-read {
            display: none;
          }

          .mark-as-unread {
            display: block;
          }
        }
      }
    }

    > .loader {
      display: block;
      height: 40px;
      width: 40px;
      background-color: red;
    }
  }
}
